<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
	<link rel="stylesheet" type="text/css" href="/AmandaTemplate.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // this triggers the connection event in our server!
             var socket = io.connect();
        

            return false;;
        });
    </script>
  
</head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(category) </span> TODO: Homework name</h1>
            <h3>Assigment X - mandatory/optional</h3>
            <div class="descr">
                <p>Assigment description:</p>
                <p>Assigment description:</p>
                <p>palceholder</p>
                <ul>
                    <li>listOne</li>
                    <li>listTwo</li>
                    <li>listThree</li>
                </ul>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div>
                <h1>TO DO: Work goes here.</h1>
            </div>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmial.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LikedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
