<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>Mangoose Dashboard</title>
	<meta name="description" content="Mangoose Dashboard">
	<link rel="stylesheet" type="text/css" href="/AmandaTemplate.css">
</head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Mangoose) </span> Mangoose Dashboard</h1>
            <h3>Create New Animal Page</h3>
            <div class="descr">
                <p>Assigment description: Please view on home page.</p>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <div>
                <form action="/animal" method="post">
                    <p>Please give the attributes of the animal!</p>
                    <div class="row">
                        <label>
                            Name: <input type="text" name="name"></input>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Type: <input type="text" name="type"></input>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Breed: <input type="text" name="breed"></input>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Color: <input type="text" name="color"></input>
                        </label>
                    </div>
                    <div class="row">
                        <label>
                            Age: <input type="text" name="age"></input>
                        </label>
                    </div>
                    <div class="row">
                        <input type="submit" value="Add Animal"></input>
                    </div>
                </form>
            </div>
        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmial.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LikedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
